body{
    background-color: black;
}
#face{
    background-color:yellow;
    width: 326px;
    height: 406px;
    position: absolute;
}
#eyes{
    margin:24px;
}
.eye{
    background-color: white;
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-right: 10px;
}
.pupil{
    background-color: black;
    width: 48px;
    height: 48px;
    display: inline-block;
    margin: 24px;
}
#mouth{
    background-color: black;
    height: 192px;
    margin: 24px;
    padding-top: 12px;
}
.tooth{
    background-color: white;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 12px 0 0 10px;
}
#tongue{
    background-color: red;
    width: 120px;
    height: 84px;
    margin: auto;
    position: relative;
    bottom: -64px
}
#divot{
    background-color: black;
    width: 8px;
    height: 67px;
    margin: auto;
}