body{
    background-color: black;
}
#face{
    background-color:yellow;
    width: 326px;
    height: 406px;
    padding: 24px;
}
#eyes{
    background-color: tan;

}
.eye{
    background-color: white;
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-right: 10px
}