*{
    background-color: #101d17;
    color: #c3a16a;
    font-family: "Volta_Regular", serif;
    font-weight: normal;
}
a:hover,a:active{
    color: #8c7248;
}
::selection{
    background-color: #ff000062;
}
