body{
    background-color: #101d17;
}
h1,h2,h3,h4{
    background-color: #101d17;
    width: fit-content;
    color: #c3a16a;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
a:link,a:visited{
    color: #c3a16a;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
a:hover,a:active{
    color: #8c7248;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
input, select, textarea{
    background-color: #c3a16a;
    border-color: #c3a16a;
    vertical-align: middle;
    accent-color: #c3a16a;
}

::placeholder{
    color: #101d179c;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
::selection{
    background-color: #ff000062;
}
:root{
    --checkbox-disabled-background-color: #c3a16a;
}