body{
    background-color: #101d17;
    background-image: url(avatar.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
h1,h2{
    background-color: #101d17;
    width: fit-content;
    color: #c3a16a;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}