body{
    background-color: #2C3930;
    text-align: center;
    font-family: serif;
    color:#A27B5C
}
.heading{
    color: #DCD7C9;
    background-color: #3F4F44;
    border: 4px solid #A27B5C;
    padding: 5px;
    border-radius: 5px;
}
.subheading{
    color: #DCD7C9;
    background-color: #3F4F44;
    text-shadow: #A27B5C 1px 2px 2px;
    padding: 5px;
    border-radius: 5px;
}
.profile-img{
    border: 4px solid #A27B5C;
    border-radius: 30%;
    opacity: 0.7;
    transition: .5s ease;   
}
.profile-img:hover{
    opacity: 1;
    width: 250px;
}