*{
    font:  serif, "Volta_Regular", normal;
    color: #c3a16a;
    border-radius: 5px;
}
body{
    background: #101d17 url(photos/background.JPG) no-repeat fixed;
    background-size:cover;
}
img{
    width:100%;
    margin:0;
}
.header{
    background-color: #101d17DD;
    font-weight:bold;
    margin: auto;
    padding:2px 10px;
    width:max-content;
    
}
.main{
    background-color: #101d17DD;
    font-size: 110%;
    max-width: 450px;
    padding:2px 10px;
}
.photos{
    background-color: #101d17DD;
    max-width: 470px;
    margin: 10px 0;
}
.footer{
    background-color: #101d17DD;
    position:fixed;
    bottom:0;
    text-align: center;
    width:100%;
}
#highsHeader{
    font-size:normal;
    color:#95c36a
}
#lowsHeader{
    font-size:normal;
    color:#c36a6a
}
::selection{
    background-color: #ff000062;
}
