*{
    font:  serif, "Volta_Regular", normal;
    color: #c3a16a;
    border-radius: 5px;
}
body{
    background: #101d17 url(photos/background.JPG) no-repeat fixed;
    background-size:cover;
}
img{
    width:100%;
    margin-bottom: 4mm;
}
.header{
    font-weight:bold;
    margin:auto;
    width:max-content;
    background-color: #101d17DD;
    padding-inline: 2mm;
}
.main{
    font-size: 110%;
    max-width: 11.6cm;
    background-color: #101d17DD;
    padding-inline: 2mm;
}
.photos{
    max-width: 12cm;
}
.footer{
    background-color: #101d17DD;
    position:fixed;
    bottom:0;
    text-align: center;
    width:100%;
}
#highsHeader{
    font-size:normal;
    color:#95c36a
}
#lowsHeader{
    font-size:normal;
    color:#c36a6a
}
::selection{
    background-color: #ff000062;
}
