body{
    background-color: #101d17;
}
h1,h2{
    background-color: #101d17;
    width: fit-content;
    color: #c3a16a;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
a:link,a:visited{
    color: #c3a16a;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
a:hover,a:active{
    color: #8c7248;
    font-family: "Volta_Regular", serif; 
    font-weight: normal;
}
::selection{
    background-color: #ff000062;
}
